h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.input {
	width: 50px;
	padding: 2px 10px;
	margin: 2px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.alert {
	border-color: #ebccd1;
	color: #a94442;
	border-radius: 4px;
	margin-bottom: 5px;
	padding: 5px;
	box-sizing: border-box;
}

.err {
	border: 2px solid red;
}

.button {
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	border-radius: 12px;
}

.start {
	background-color: #4ca;
}

.stop {
	background-color: #f44;
}

table#board td {
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	vertical-align: middle;
	border: solid 1px #ddd;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

table#board td.reborn {
	background-color: #efe;
}

table#board td.die {
	background-color: #fee;
}